body{
    background-image: url('image.jpg');
}

.form{
    width: 350px;
    height: 300px;
    background: lightpink;
    position: relative;
    top:90px;
    left: 800px;
    border-radius: 20px;
    padding: 30px;
}
.form h2{
    width: 250x;
    font-family: sans-serif;
    text-align: center;
    color:red;
    font-size:27px;
    background-color:rgb(11, 221, 134) ;
    border-radius: 10px;
    margin:2px;
    padding: 8px;

}
.form input{
    width: 300px;
    height: 40px;
    background: transparent;
    border-bottom: 10px steelblue;
    border-top:royalblue;
    border-right: none;
    border-left: none;
    color: rgb(16, 17, 16);
    font-size:15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: auto;
}
.btn{
    width: 100%;
    height: 40px;
    background: #96d10c;
    border: 2px solid #96d10c;
    margin-top: 13px;
    color: #ffffff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn:focus{
    outline: none;
}