
body{
    background-image: url('B.png');
    background-size: 100%;
}
.logo{
    color: #96d10c;
    font-size: 120px;
    font-family: Arial;
    padding:right;
    float: left;
    padding-top:0px;
    text-align:center;
}
section {
    color:gold; /* Text color for section */
    font-size: 25px; /* Font size for section text */
    margin: 10px; /* Margin around the section */
    padding: left; /* Padding inside the section */
    border-radius: 5px; /* Optional rounded corners */
    text-align: center; /* Text alignment */
}

section tr {
    margin-bottom: 10px; /* Space between rows */
    display: block; /* Make <tr> elements behave like block elements */
}